<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>KL Ruby Brigade Meetup</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/klxrb.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>
  </head>

  <body>

    <div class="reveal">
      <div class="slides">

        <section>
          <img src="images/ruby-tuesdays-73.png">
        </section>

        <section>
          <section>
            Brought to you by <br />
            <img src="/images/aws.png" height="150" style="background: white">
            <img src="/images/engineersmy.png" height="150" style="background: white">
            <img src="/images/klxrb.png" height="150" style="background: white">
          </section>

          <section>
            <div style="text-align:center">
              <img src="/images/facebook.jpg" alt=""> <br />
              https://www.facebook.com/groups/klxrb <br />
              https://rubybrigade.my
            </div>
          </section>

          <section>
            <div style="text-align:center">
              <img src="/images/meetup.svg" height=120 style="background:white"> <br />
              https://www.meetup.com/ruby-malaysia/
            </div>
          </section>

          <section>
            <div style="text-align:center">
              <img src="/images/github-logo.png" width=80> <br />
              https://www.github.com/klxrb
            </div>
          </section>

          <section>
            <div style="text-align:center">
              <img src="/images/slack.png" width="100" style="border: none; background: none; box-shadow: none"> <br />
              https://rubybrigade.my/slack_invite<br />
              https://bit.ly/rubymyslack
            </div>
          </section>
        </section>

        <section>
          <section>
            <img src="/images/its_something.png">
            <br />
            <font size="5">Note to self: Remember to introduce yourself</font>
          </section>

          <section>
            <h3>Reminder #1: Comment / Chat</h3>
          </section>
        </section>

        <section>
          <section>
            <h2>Hiring Shoutouts</h2>
          </section>
        </section>

        <section>
          <section>
            <div>
              <h1>AWS Community Program</h1>
              <br />
              <h2>by Faz (Mohammed Fazalullah)</h2>
            </div>
          </section>

          <section>
            <div style="text-align:center">
              <img src="/images/aws_qr.png" width="300" style="border: none; background: none; box-shadow: none"> <br />
              https://pages.awscloud.com/dev-registration-form.html
            </div>
          </section>

          <section>
            <div>
              <h1>AWS CDK setup for Ruby on Rails</h1>
              <br />
              <h2>by Kaine Wright</h2>
            </div>
          </section>

          <section>
            <div>
              <h1>Data query patterns in Rails</h1>
              <br />
              <h2>by Looi Ferng Yi</h2>
            </div>
          </section>
        </section>

        <section>
          <section>
            <div style="text-align:center">
              <img src="/images/ruby-code-clinic.png" width="500" style="border: none; background: none; box-shadow: none"> <br />
              Bringing back Code Clinic
            </div>
          </section>
        </section>

        <section>
          <section>
            <h2>See you all next month !!!</h2>
          </section>
        </section>

      </div>
    </div>

    <script src="js/reveal.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
        hash: true
			});
    </script>
    
  </body>
</html>
