
        <section>
          <section>
            <img src="/images/docker.png" alt=""> <br />
          </section>

          <section>
            <h3>What is Docker?</h3>

            <div class="fragment">LinuX Containers (LXC) Manager</div>
            <div class="fragment">System Provisioning</div>
            <div class="fragment">Automation Tools</div>
          </section>

          <section>
            <img src="/images/flash.png" alt=""> <br />
            LIGHTNING FAST !!!
          </section>

          <section>
            <h3>Just another VM?</h3>
          </section>

          <section>
            <img src="/images/docker-vm.png" alt=""> <br />
          </section>

          <section>
            <img src="/images/docker-layer.png" alt=""> <br />
          </section>

          <section>
            <h3>Docker Layers</h3>
          </section>

          <section>
            <img src="/images/docker-layers.png" alt=""> <br />
          </section>

          <section>
              <img src="/images/skeptical.jpg" width="200" alt=""> <br />
              Uh ... I'm a developer not a sysadmin?
          </section>

          <section>
            3 things :- <br /><br />
            <div class="fragment">1. Runs anywhere - no more "It works on my local"</div>
            <div class="fragment">2. Quick start with existing builds</div>
            <div class="fragment">3. Improve collaboration</div>
          </section>

          <section>Let's try it</section>

<!--
docker pull fcat/rails-getting-started
docker run -d -p 5000:3000 fcat/rails-getting-started

docker pull phusion/passenger-ruby21
docker build -t 'demoapp-website' .
VBoxManage modifyvm "boot2docker-vm" --natpf1 "tcp-port6000,tcp,,6000,,6000";
docker run --rm -p 5000:80 demoapp-website
-->

          <section>
            <img src="/images/google-search.jpg" width="350" alt=""> <br />
            - Docker Confreaks<br />
            - Boot2docker<br />
            - Docker Rails<br />
            - Docker Rails Deploy
          </section>

          <section>Questions?</section>

        </section>