<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>KL Ruby Brigade Meetup</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<img src="images/klxrb_logo.png" width="200" style="border:none;background: none;box-shadow:none;">
					<h1>7 Years of KL Ruby Brigade</h1>
        </section>

				<section>
					<img src="images/ruby.png" width="200">
					<h1>KL Ruby Brigade Meetup</h1>
					<h3>a.k.a. Ruby Tuesday&trade;</h3>

					SSID: mindvalleyguest<br />
					Username: guest<br />
					Password: ilovemindvalley
				</section>

				<section>
					<section>
						<h2>How it got (re)Started</h2>
					</section>

					<section>
						<ul style="text-align:center">
							<img src="images/jimmy.png" width="150"><br />
							Me
						</ul>
						<ul style="text-align:center">
							<img src="images/tristan.png" width="150"><br />
							Tristan
						</ul>
						<ul style="text-align:center">
							<img src="images/arzumy.png" width="150"><br />
							Arzumy
						</ul>
						<ul style="text-align:center">
							<img src="images/nguyen.png" width="150"><br />
							Nguyen
						</ul>
					</section>

					<section>
						<img src="images/reddotrubyconf.png">
					</section>

					<section>
						<img src="images/matsuda.jpg">
						<br />
						Akira Matsuda
						<br />
						https://github.com/amatsuda
					</section>

					<section>
						<img src="images/asakusa.png">
						<br />
						https://github.com/asakusarb
					</section>

					<section>
						<img src="images/yuno.jpg">
					</section>

					<section>
						<img src="images/boom.jpg">
					</section>

				</section>

				<section>
					<section>
						<h2>Why?</h2>
					</section>
					<section>
						<img src="images/forever_alone.png" width="500">
					</section>
					<section>
						<img src="images/yoda.jpg">
					</section>
					<section>
						<img src="images/i_love_ruby.jpg">
					</section>
					<section>
						<img src="images/code-kata.jpg">
					</section>
					<section>
						<img src="images/normal-pairing.jpg" width="500">
					</section>
					<section>
						<img src="images/community.jpg">
					</section>
				</section>

				<section>
					<section>
						<h2>First 2 Talks</h2>
					</section>

          <section>
            <h1>Code Kata</h1>
            <h2>by Tristan V. Gomez</h2>
          </section>

          <section>
            <h1>Vagrant</h1>
            <h2>by Jimmy Ngu</h2>
          </section>

          <section>
            <h2>200 talks by 62 speakers</h2>
            <ul>
              <li> Adrian Ching</li>
              <li> Afif Sohaili</li>
              <li> Ajit Nawalkha</li>
              <li> Ali Ilman</li>
              <li> Amree Zaid</li>
              <li> Andy Chong</li>
              <li> Arzumy</li>
              <li> Axel Kee</li>
              <li> Baraa</li>
              <li> Breena</li>
              <li> Călin Ciobanu</li>
              <li> Calum Halcrow</li>
              <li> Calvin Tee</li>
              <li> Carlos Lima</li>
              <li> Cent Lee</li>
              <li> Crystal Toh</li>
              <li> Dave Appleton & TC Wu</li>
              <li> Dhendy Ferdian</li>
            </ul></section>
            <section><ul>
                <li> Essam AB</li>
                <li> Faizal Fikri</li>
                <li> Gooi Liang Zheng</li>
                <li> Guoy</li>
                <li> Hafiz Khairudin</li>
                <li> Hassanim Ahmed</li>
                <li> Haziq Hafizuddin</li>
                <li> Iqbal Hasnan</li>
                <li> Jimmy Ngu</li>
                <li> Johnson Lai</li>
                <li> Josh Teng</li>
                <li> Karg Weng</li>
                <li> Karuna Skj</li>
                <li> Khaled Abbas</li>
                <li> Kris Khaira</li>
                <li> Looi Ferng Yi</li>
                <li> Meor &amp; Ken</li>
              </ul></section>
              <section><ul>
                  <li> Milad Rastian</li>
                  <li> N.V. Nguyen</li>
                  <li> Natasha Zolotareva</li>
                  <li> Nicholas Ng</li>
                  <li> Nick Marden</li>
                  <li> Raja Hafify</li>
                  <li> Rizal Muthi</li>
                  <li> Ryan Chew</li>
                  <li> Soo Yang</li>
                  <li> Tan Chin Loong</li>
                  <li> Taufek Johar</li>
                  <li> Teh Pei Yee</li>
                  <li> Teo Hui Ming</li>
                  <li> Tevanraj Elengoe</li>
                  <li> Tevanraj</li>
                  <li> TM Lee</li>
                  <li> Tok Wan</li>
                  <li> Tristan V. Gomez</li>
                </ul></section>
                <section><ul>
                    <li> Victor Lim</li>
                    <li> Waihon Yew</li>
                    <li> Welly Salim</li>
                    <li> Yaacob Noor</li>
                    <li> Yu Sheng</li>
                    <li> Zulhilmi Zainuddin</li>
                  </ul>
                </section>

                <section>
                  <h2>Top 10 Speakers</h2>
                  <li>Jimmy - 64</li>
                  <li>Tristan - 23</li>
                  <li>Milad Rastian - 8</li>
                  <li>Looi Ferng Yi - 8</li>
                  <li>Hassanim - 8</li>
                  <li>Calum Halcrow - 6</li>
                  <li>Carlos Lima - 4</li>
                  <li>Karg Weng - 4</li>
                  <li>Tevanraj - 4</li>
                  <li>Hafiz Khairudin - 4</li>
                </section>

				</section>

        <section>
          <section>
            <h2>3 Ruby Conferences</h2>
          </section>
          <section>
            <img src="images/rcmy2016.png" width="100%">
          </section>
          <section>
            <img src="images/rcmy2017.png" width="100%">
          </section>
          <section>
            <img src="images/rcmy2018.png" width="100%">
          </section>

        </section>



        <section>
          <section>
            <img src="images/corona.jpg">
          </section>

          <section>
            <img src="images/streamyard.jpg" width="200">
            <h2>Ruby Tuesdays Stream</h2>
            For the foreseeable future
          </section>


          <section>
            <img src="images/discord.webp" width="200" style="background:none;box-shadow:none;border:none">
            <h2>Ruby Code Clinic @ Discord?????</h2>
            Let us know what you think
            <br />
            <br />
            bit.ly/rubymydiscord
          </section>

          <section>
            <h2>Help wanted!!</h2>
            Jimmy needs help organizing events
          </section>

          <section>
            <img src="images/future.jpg">
          </section>


        </section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
