
        <section>

          <section>
            <h1>How to Write A Gem</h1>
          </section>

          <section>Credits to Steve Klabnik</section>

          <section>
            Ruby Weekly<br />
            http://rubyweekly.com/
          </section>

          <section>
            <h3>Requirements</h3>
            <div>
              <li class="fragment">Git</li>
              <li class="fragment">Ruby (rbenv, rvm, chruby)</li>
              <li class="fragment">Bundler</li>
              <li class="fragment">Rake</li>
            </div>
          </section>

          <section>
            <img src="/images/do-it.png"><br />
            Let's Do It
          </section>

          <section>
            <h3>Review Everything</h3>
            <div class="fragment">bundle gem my_super_gem</div>
            <div class="fragment">Review license</div>
            <div class="fragment">Edit my_super_gem.gemspec file</div>
            <div class="fragment">Write a test</div>
            <div class="fragment">Start coding</div>
            <div class="fragment">Create a binary</div>
            <div class="fragment">Write docs</div>
            <div class="fragment">bundle exec rake install</div>
            <div class="fragment">bundle exec rake release</div>
            <div class="fragment">Tweet about it !! :)</div>
          </section>

          <section>
            <h3>Maintaining &amp; Collaborations</h3>
            <div>Travis CI - https://travis-ci.org</div>
            <div>Gemnasium - https://gemnasium.com</div>
          </section>

          <section>
            <h3>Thank you :)</h3>
            <div class="fragment">Questions?</div>
          </section>

        </section>
